<h1> New User </h1>

<%= form_for :user, url: users_path do |f| %>
<%= f.label :FirstName%>
<%= f.text_field :fname %>
</br>
<%= f.label :LastName %>
<%= f.text_area :lname %>
</br>
<%= f.label :Username %>
<%= f.text_area :uname %>
</br>
<%= f.label :Password %>
<%= f.text_area :password %>
</br>
<%= f.label :Email %>
<%= f.text_area :email %>
</br>
<%= f.label :City %>
<%= f.text_area :city %>
</br>
<%= f.label :Occupation %>
<%= f.text_area :occupation %>
<%= f.submit %>
<% end %>
